#advertisementContainer {
    background: #17191E;
    background-image: url("/images/footer-verlith.png");
    background-repeat: no-repeat;
    background-size: 100% 91%;
    background-position: bottom;
    background-blend-mode: lighten;
    border-top-left-radius: 33% 33%;
    border-top-right-radius: 33% 33% ;
    z-index: -2;

}

#footerGlassContainer {
    background: rgba(20, 20, 20, 0.4);
    border: 1px solid #FFA5E6;
    box-shadow: 0px 0px 16px rgba(23, 23, 23, 0.05);
    backdrop-filter: blur(16px);
    border-radius: 8px;
}

#verlithTitle {
    color: #17191E;
    text-shadow: 0px 4px 4px rgba(23, 25, 30, 0.25);
}




/* radialGradient starts */

.Gradient {
    /* height: 100vh; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
    transform: rotate(180deg);
  }
  
  .GradientEffect {
    position: absolute;
    top: 2rem;
    background-color: rgba(255, 255, 255, 0.041);
    width: 110rem;
    height: 558px;
    z-index: 4;
    backdrop-filter: blur(2px);
    border-radius: 50%;
    overflow: hidden;
    transform: rotate(0deg);
  }
  
  .GradientEffect::after {
    content: "";
    position: absolute;
    top:2rem;
    height: 560px;
    background-color: #17191E;
    inset: -5px;
    border-radius: 50%;
    z-index: -1;
  }
  
  .GradientEffectLight {
    position: absolute;
    width: 60%;
    height: 368px;
    top:17rem;
    background: radial-gradient(50% 50% at 50% 50%, #A68FFF 0%, rgba(130, 105, 255, 0) 100%);
    opacity: 0.3;
    transform: rotate(180deg);
    filter: blur(50px);
  }
  
  .GradientEffectLight::after {
    content: "";
    position: absolute;
    width: 60%;
    height: 500px;
    top: 17rem;
    background: radial-gradient(50% 50% at 50% 50%, #3AA0EB 0%, rgba(150, 129, 255, 0) 100%);
    opacity: 0.2;
    filter: blur(50px);
  }
  
  /* radialGradient ends */



/* media query starts */

  @media screen and (max-width: 425px) {

    #advertisementContainer {

      /* background-size: 100% 100%; */
      background-position: bottom;
  
  }


    .GradientEffect {
    top: 15rem;
    width: 30rem;
    height: 240px;
    }
  
    .GradientEffect::after {
      height: 242px;
    }
  
  .GradientEffectLight {
    top: 20rem;
    width: 80%;
    height: 240px;
    }
  
  }

  /* media query ends */